@font-face {
    font-family: Exo;
    src: url("assets/fonts/Exo2-Regular.ttf");
}

body {
    background-color: black;
    text-align: center;
    font-family: 'Exo', sans-serif;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

h1 {
    color: white;
    font-size: 48pt;
    padding: 0;
    margin: 0;
    height: 100px;
}

.gameContainer {
    padding: 0;
    margin: 0;
    width: 900px;
    height: 480px;
}

.controls {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 15px;
    left: 15px;
    right: 15px;
}

.arrow {
    width: 80px;
    height: 80px;
}

#rotateLeft {
    transform: scaleX(-1);
}

canvas {
    width: 100%;
    margin: auto;
    cursor: none;
    background: radial-gradient(rgba(120, 120, 120, 0.5), rgba(60, 60, 60, 0.6), rgba(0, 0, 0, 0.85));
    animation: rotateBackground 10s infinite ease-out;
    transition: all 2s ease;
}

.crop {
    overflow: hidden;
}

.hidden {
    visibility: hidden;
}

@keyframes rotateBackground {
    0%   {background-color: red;}
    20%  {background-color: yellow;}
    40%  {background-color: blue;}
    60%  {background-color: green;}
    80%  {background-color: black;}
    100% {background-color: red;}
}

.menued {
    background: none;
    background-color: white;
    filter: blur(2px) brightness(180%);
    animation: fadeInMenu 3s ease-out;
}

@keyframes fadeInMenu {
    0% {
        filter: blur(200px) brightness(0%);
    }
    100% {
        filter: blur(2px) brightness(180%);
    }
}

.stopped {
    animation: none;
    background: none;
    background-color: white;
    transform: scale(4);
    filter: blur(30px) brightness(3000%);
}

.stopped-black {
    animation: none;
    background: none;
    background-color: white;
    filter: blur(160px) brightness(2000%);
}

.grayscaled {
    filter: grayscale(90%);
}
.button {
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
}

.button.learnmore{
	background:rgba(226, 111, 14, 0.64);	
}

.button.showcase{
	background:#27538e;	
}
.button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button:hover {
    background-color: green;
    color: white;
}

.button:active {
    background-color: rgba(120, 120, 120, 0.5); /* Green */
    color: white;
}