@font-face {
    font-family: Exo;
    src: url("assets/fonts/Exo2-Regular.ttf");
}

body {
    background-color: black;
    text-align: center;
    font-family: 'Exo', sans-serif;
}

h1 {
    color: white;
    font-size: 48pt;
    padding: 0;
    margin: 0;
    height: 100px;
}

.gameContainer {
    height: calc(100vh - 120px);
}

canvas {
    width: 100%;
    cursor: none;
    background: radial-gradient(rgba(120, 120, 120, 0.5), rgba(60, 60, 60, 0.6), rgba(0, 0, 0, 0.85));
    animation: rotateBackground 20s infinite ease-out;
    transition: all 2s ease;
}

.crop {
    overflow: hidden;
}

@keyframes rotateBackground {
    0%   {background-color: red;}
    20%  {background-color: yellow;}
    40%  {background-color: blue;}
    60%  {background-color: green;}
    80%  {background-color: black;}
    100% {background-color: red;}
}

.stopped {
    animation: none;
    background: none;
    background-color: white;
    transform: scale(4);
    filter: blur(10px) brightness(1500%);
}